Repository renatoramossilva/ta-flnks-pe: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-check, mypy, pytest

black:
  name: black
  entry: poetry run black .
  language: system

ruff-check:
  name: ruff-check
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pytest:
  name: pytest
  entry: poetry run pytest tests
  language: system
  pass_filenames: false

Use port 3000
  docker-compose.yaml
  docker/Dockerfile
Due: none

Add tox as project dependency
  poetry.lock
  pyproject.toml
Due: none

Use tox in precommit instead of pytest
  .pre-commit-config.yaml
Due: none

Run tox on check pipeline (GH actions)
  .github/workflows/check.yaml
Due: none

Add tox config
  tox.ini
Due: none

Add tox to the project
  .github/workflows/check.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Bump bindl version to use an stable version (1.1.1)
  poetry.lock
  pyproject.toml
Due: none

Add redis container in docker.compose
  docker-compose.yaml
  docker/Dockerfile
Due: none

Use redis in the endpoints
  app/api/routes/news.py
  app/dependencies/__init__.py
  app/dependencies/redis.py
Due: black, ruff-check, mypy, pytest

Ignore mypy error
  .mypy.ini
Due: none

Refactoring news.py
  app/api/routes/news.py
Due: black, ruff-check, mypy, pytest

Create README file
  .github/workflows/check.yaml
  README.md
Due: none

Build docker image
  .github/workflows/build_docker.yaml
Due: none

Test docker build pipeline
  .github/workflows/build_docker.yaml
  README.md
  docker/Dockerfile
Due: none

Refactor scrapper endpoints
  app/api/routes/endpoints.py
  app/api/routes/news.py
  app/main.py
Due: black, ruff-check, mypy, pytest

Test docker build pipeline
  .github/workflows/build_docker.yaml
  docker/.dockerignore
  docker/Dockerfile
  poetry.lock
  pyproject.toml
  services/__init__.py
  services/deploy_lambda.py
  services/push_docker_image.py
  services/push_ecr.py
  services/run.py
Due: black, mypy, pytest

Path conditions:
  black: any of: \.py$
  ruff-check: any of: ^app/ and \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
